HELP.md
*.exe
.gradle
/build/
cmake-build-debug
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*/target/
*/logs/
logs/*
*/tmp/
tmp/*
/data

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Visual Studio ###
.vs
*.obj
Debug

### VS Code ###
.vscode/

